@mixin name {
  display: inline-block;
  font-size: 1.5em;
  color: gray;
}
@mixin block {
  width: rem(60px);
  height: rem(3);
  border: none;
  margin: 0 auto;
}

@mixin par {
  font-family: roboto;
  font-size: rem(15px);
  color: $fontprg;
  max-width: rem(840px);
  line-height: 1.5;
}

@mixin pgheader {
  h1 {
    font-size: rem(30px);
    color: $fontblack;
    font-family: montserrat;
    font-weight: bold;
    margin: rem(25px) 0;
    text-transform: uppercase;
  }
  h2 {
    font-size: rem(24px);
    color: $fontblack;
    font-family: kaushan script;
  }

  p {
    font-family: roboto;
    font-size: rem(15px);
    color: $fontprg;
    max-width: rem(840px);
    margin: 0 auto;
    line-height: 1.5;
  }
}

@mixin layout {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
