// Breakpoints
$xl: 1400px;
$lg: 1200px;
$md: 991px;
$sm: 768px;
$xs: 576px;

$bg-first: rgba(240, 130, 130, 0.7);
$bg-second: rgba(240, 217, 138, 0.7);
$bg-blue: rgb(149, 225, 211);
$bg-lgrey: rgb(204, 204, 204);
$bg-lightgrey: rgb(248, 248, 248);
$bg-yelow: rgb(252, 227, 138);
$bg-red: rgb(243, 129, 129);

$fontwhite: rgb(255, 255, 255);
$fontblack: rgb(0, 0, 0);
$fontprg: #999999;
