.about {
  box-sizing: border-box;
  font-size: 0;

  &__layout {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
  }

  // --HEADER-- //
  &__story {
    text-align: center;
    margin-top: rem(90px);
  }

  //--HEADER--//
  @include pgheader;
  &__block {
    @include block;
    margin: rem(15px) auto;
  }

  // ABOUT PHOTO //
  &__photo {
    margin: rem(90px) 0;

    &--blockphoto {
      width: rem(370px);
      height: rem(250px);
      display: inline-block;
      margin-left: rem(45px);
      background-color: $bg-blue;
    }

    &--hovericon {
      font-size: 0;
      i {
        display: none;
      }
    }
    &--hoverimg {
      position: relative;
      background-image: url(/assets/img/keyboard.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &--blockphoto:first-child {
      margin-left: 0;
      position: relative;
    }

    &--hoverimg:hover {
      background-color: $bg-blue;
      position: absolute;
      bottom: 10px;
      right: 10px;

      div {
        position: absolute;
        font-size: rem(18px);
        font-family: montserrat;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        top: 115px;
        right: 0;
        left: 0;
        bottom: 0;
      }
      i {
        display: block;
      }
    }

    &--hoverimg:hover::before {
      content: " ";
      background: linear-gradient($bg-first, $bg-second);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0.8;
      z-index: -1;
    }
  }
  // --BLUE BLOCK-- //
  &__blueline {
    background-color: $bg-blue;
    text-align: center;
    color: $fontwhite;

    &--block {
      display: inline-block;
      border-left: 1px solid white;
      max-width: rem(240px);
      width: 20%;
      padding: rem(90px) 0;
    }
    &--block:last-child {
      border-right: 1px solid white;
    }
    h3 {
      font-size: rem(72px);
      font-family: montserrat;
      font-weight: bold;
    }
    h4 {
      font-size: rem(14px);
      font-family: montserrat;
    }
  }
  // --SERVICE-- //
  &__service {
    text-align: center;
    margin-top: rem(90px);
  }
  // --Amazing services --//
  &__footer {
    max-width: rem(1200px);
    position: relative;
    margin: 0 auto;

    &--card {
      display: inline-block;
      width: 33%;
      padding: rem(45px) 0;
      text-align: left;

      i {
        display: inline-block;
        color: $bg-blue;
        width: rem(50px);
        height: rem(50px);
        margin: 0 rem(28px);
        vertical-align: top;
      }
      div {
        display: inline-block;
      }
      h5 {
        font-size: rem(14px);
        color: $fontblack;
        font-family: montserrat;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: rem(20px);
      }
      p {
        max-width: rem(220px);
      }
    }
    &--card:nth-child(-n + 3) {
      border-bottom: solid 1px $fontprg;
    }
  }
}
