.about {
  box-sizing: border-box;
  font-size: 0;

  //--HEADER--//
  @include pgheader;

  &__layout {
    @include layout;
  }

  &__header {
    @include pgheader;
    &--block {
      @include block;
      margin: rem(15px) auto;
    }
  }

  // --3 PHOTO inline --//
  &__photo {
    margin: rem(90px) 0;

    &--photoBlock {
      width: rem(370px);
      height: rem(250px);
      display: inline-block;
      margin-left: rem(45px);
      font-size: 0;
      box-sizing: border-box;
      background-color: $bg-blue;

      #photo1 {
        background-image: url(/assets/img/keyboard.png);
      }
      #photo2 {
        background-image: url(/assets/img/tech.png);
      }
      #photo3 {
        background-image: url(/assets/img/table.png);
      }

      div {
        width: rem(370px);
        height: rem(250px);
      }
      h6,
      i {
        color: $fontblack;
        font-weight: bold;
        display: none;
      }
      h6 {
        font-family: montserrat;
        font-size: rem(18px);
      }
      &:hover {
        position: relative;
        div {
          position: absolute;
          width: rem(370px);
          height: rem(250px);
          bottom: 10px;
          right: 10px;
        }
        div::before {
          content: " ";
          background: linear-gradient($bg-first, $bg-second);
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          opacity: 0.9;
        }
        i,
        h6 {
          display: block;
          position: absolute;
          color: $fontwhite;
        }
        i {
          left: 160px;
          top: 90px;
        }
        h6 {
          left: 120px;
          top: 114px;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      @media (max-width: rem(1199px)) {
        display: block;
        margin: rem(30px) auto;
        &:first-child {
          margin: rem(30px) auto;
        }
      }
    }
  }

  // --BLUE BLOCK-- //
  &__blueline {
    background-color: $bg-blue;
    text-align: center;
    color: $fontwhite;
    vertical-align: middle;

    &--block {
      display: inline-block;
      border-left: 1px solid white;
      width: 20%;
      position: relative;
      padding: rem(90px) 0;
      vertical-align: middle;
      div {
        height: 30px;
      }

      h3 {
        font-size: rem(72px);
        font-family: montserrat;
        font-weight: bold;
      }
      h4 {
        font-size: rem(14px);
        font-family: montserrat;
        text-transform: uppercase;
        width: 100%;
        display: block;
      }
    }
    &--block:last-child {
      border-right: 1px solid white;
    }
    @media (max-width: rem(910px)) {
      h3 {
        font-size: rem(32px);
      }
      h4 {
        font-size: rem(12px);
      }
      &--block {
        padding: rem(50px) 0;
      }
    }
  }

  // --SERVICE-- //
  &__service {
    @include pgheader;
    text-align: center;
    margin-top: rem(90px);
  }
  &__block {
    @include block;
  }

  // --Amazing services --//
  &__footer {
    max-width: rem(1200px);
    position: relative;
    margin: 0 auto;

    &--card {
      display: inline-block;
      width: 33%;
      padding: rem(45px) 0;
      text-align: left;
      @media (max-width: rem(1000px)) {
        width: 50%;
      }

      i {
        display: inline-block;
        color: $bg-blue;
        width: rem(50px);
        height: rem(50px);
        margin: 0 rem(28px);
        vertical-align: top;
      }
      div {
        display: inline-block;
      }
      h5 {
        font-size: rem(14px);
        color: $fontblack;
        font-family: montserrat;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: rem(20px);
      }
      p {
        max-width: rem(220px);
      }
      &:nth-child(-n + 3) {
        border-bottom: solid 1px $fontprg;
      }
    }
    @media (max-width: rem(1000px)) {
      &--card {
        width: 50%;
        &:nth-child(-n + 4) {
          border-bottom: solid 1px $fontprg;
        }
      }
    }
    @media (max-width: rem(700px)) {
      &--card {
        width: 100%;
        &:nth-child(-n + 5) {
          border-bottom: solid 1px $fontprg;
        }
      }
    }
  }
}
