.work {
  font-size: 0;
  box-sizing: border-box;
  text-align: center;
  margin-top: rem(75px);

  &__layout {
    max-width: rem(1200px);
    position: relative;
    margin: 0 auto;
  }

  h1 {
    font-size: rem(30px);
    color: $fontblack;
    font-family: montserrat;
    font-weight: bold;
    margin: rem(25px) 0;
    text-transform: uppercase;
  }
  h2 {
    font-size: rem(24px);
    color: $fontblack;
    font-family: kaushan script;
  }

  p {
    font-family: roboto;
    font-size: rem(15px);
    color: $fontprg;
    max-width: rem(840px);
    margin: 0 auto;
    line-height: 1.5;
  }

  &__block {
    @include block;
    background-color: $bg-first;
    margin: rem(15px) auto;
  }

  &__designe {
    padding-top: rem(90px);
    background-image: url(/assets/img/lake.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: rem(110px);

    &--display {
      display: inline-block;
      z-index: 1;
    }

    &--phone {
      display: inline-block;
      position: absolute;
      background-image: url(/assets/img/phone-template.png);
      background-size: cover;
      background-position: center;
      width: rem(200px);
      height: rem(430px);
      border-radius: 10%;
      left: rem(1150px);
      bottom: rem(-50px);
    }
  }
  &__designe::before {
    content: " ";
    background: $fontprg;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
  }

  // --WHAT WE DO-- //
  &__heading {
    margin-bottom: rem(100px);
  }

  &__works {
    margin-bottom: rem(100px);
    text-align: center;

    &--img {
      padding-right: rem(30px);
      display: inline-block;
      height: rem(380px);
      width: 50%;
    }
    &--info {
      display: inline-block;
      width: 50%;
      height: rem(380px);
      position: relative;
      text-align: left;
      vertical-align: top;

      i {
        margin: rem(14px) rem(15px);
        height: rem(30px);
        color: $bg-blue;
      }

      i:last-child {
        position: absolute;
        right: 0;
        color: $fontprg;
      }

      div {
        border: 1px solid $bg-lgrey;
        width: 100%;
        position: relative;
      }
      div:nth-child(n + 3) {
        margin-top: rem(10px);
      }
    }
    // --------
    h5 {
      font-size: rem(14px);
      color: $fontblack;
      font-family: montserrat;
      font-weight: bold;
      text-transform: uppercase;
      display: inline;
      text-align: center;
    }
    textarea {
      font-family: roboto;
      font-size: rem(15px);
      color: $fontprg;
      line-height: 1.5;
      padding: rem(20px) rem(15px);
      width: 100%;
      height: rem(180px);
      border: none;
      border-right: solid white 20px;
    }
    textarea::-webkit-scrollbar {
      width: rem(5px);
    }
    textarea::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 10px 10px 10px $bg-lgrey;
      border-radius: rem(10px);
      margin: rem(20px);
    }
    textarea::-webkit-scrollbar-thumb {
      background-color: $bg-blue;
      border-radius: rem(10px);
    }
  }

  //   FEEDBACK   //
  &__feedback {
    background-color: $bg-lightgrey;
    &--row {
      color: $bg-lgrey;
      margin: 0 rem(20px);
    }
    &--icon {
      font-size: rem(60px);
      color: $bg-blue;
      border: 2px solid $bg-blue;
      padding: rem(40px);
    }
  }
  p {
    @include par;
    max-width: rem(780px);
    margin-bottom: rem(30px);
  }
  h2 {
    display: inline-block;
    vertical-align: middle;
  }
  &__block-other {
    @include block;
    display: inline-block;
    vertical-align: middle;
  }
  &__text {
    display: inline-block;
    margin: rem(70px);
    max-width: rem(780px);
    text-align: left;
  }
}
