.work {
  font-size: 0;
  box-sizing: border-box;
  text-align: center;
  margin-top: rem(75px);
  position: relative;

  // pgHEADas
  &__header {
    @include pgheader;
    position: relative;
  }
  &__block {
    @include block;
    background-color: $bg-first;
    margin: rem(15px) auto;
  }

  &__layout {
    @include layout;
  }

  // <!-- Tablet with phone in grey background with mountain-img -- >
  &__designe {
    padding-top: rem(90px);
    background-image: url(/assets/img/lake.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: rem(110px);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $bg-lightgrey;
      opacity: 0.6;
    }

    &--display {
      display: inline-block;
      position: absolute;
      // top: rem(375px);
      top: 38%;
      bottom: 0;
      right: 0;
      left: 0;
    }
    &--phone {
      display: inline-block;
      position: absolute;
      // top: rem(620px);
      top: 62%;
      bottom: 0;
      right: 0;
      left: rem(500px);

      img {
        border-radius: 10%;
      }
    }
    @media (max-width: rem(700px)) {
      &--display,
      &--displaySize {
        img {
          width: 70%;
        }
      }
      &--phone {
        img {
          width: 90%;
        }
      }
    }
  }

  // --WHAT WE DO-- //
  &__heading {
    margin-bottom: rem(100px);
    @include pgheader;
  }
  //   Right Photo Left info with scrollbar textarea   //
  &__works {
    margin-bottom: rem(100px);
    text-align: center;

    &--img {
      padding-right: rem(30px);
      display: inline-block;
      height: rem(380px);
      width: 50%;
    }
    &--info {
      display: inline-block;
      width: 50%;
      height: rem(380px);
      position: relative;
      text-align: left;
      vertical-align: top;

      i {
        margin: rem(14px) rem(15px);
        height: rem(30px);
        color: $bg-blue;
      }

      i:last-child {
        position: absolute;
        right: 0;
        color: $fontprg;
      }

      div {
        border: 1px solid $bg-lgrey;
        width: 100%;
        position: relative;
      }
      div:nth-child(n + 3) {
        margin-top: rem(10px);
      }
    }
    // --------
    h5 {
      font-size: rem(14px);
      color: $fontblack;
      font-family: montserrat;
      font-weight: bold;
      text-transform: uppercase;
      display: inline;
      text-align: center;
    }
    textarea {
      font-family: roboto;
      font-size: rem(15px);
      color: $fontprg;
      line-height: 1.5;
      padding: rem(20px) rem(15px);
      width: 100%;
      height: rem(180px);
      border: none;
      border-right: solid white 20px;
    }
    textarea::-webkit-scrollbar {
      width: rem(5px);
    }
    textarea::-webkit-scrollbar-track {
      border-radius: rem(10px);
      margin: rem(20px);
    }
    textarea::-webkit-scrollbar-thumb {
      background-color: $bg-blue;
      border-radius: rem(10px);
    }
    @media (max-width: rem(1199px)) {
      img {
        width: 100%;
        height: 100%;
      }
      &--info {
        display: block;
        margin: rem(30px) auto;
      }
    }
  }

  //   FEEDBACK   //
  &__feedback {
    background-color: $bg-lightgrey;
    &--row {
      color: $bg-lgrey;
      margin: 0 rem(20px);
    }
    &--icon {
      font-size: rem(60px);
      color: $bg-blue;
      border: 2px solid $bg-blue;
      padding: rem(40px);
    }
  }
  p {
    @include par;
    margin-bottom: rem(30px);
  }
  h2 {
    color: $fontblack;
    font-size: rem(24px);
    font-family: kaushan script;
    display: inline-block;
    vertical-align: middle;
    margin-left: rem(10px);
  }
  &__block-other {
    @include block;
    display: inline-block;
    vertical-align: middle;
  }
  &__text {
    display: inline-block;
    margin: rem(70px);
    width: 60%;
    text-align: left;
    @media (max-width: rem(1030px)) {
      width: 50%;
      margin: rem(20px);
    }
    @media (max-width: rem(650px)) {
      width: 30%;
      margin: rem(20px);
    }
    @media (max-width: rem(650px)) {
      width: 20%;
      margin: rem(10px);
    }
  }
}
