.works {
  font-size: 0;
  box-sizing: border-box;
  &__layout {
    @include layout;
  }
  &__header {
    @include pgheader;
  }
  &__block {
    @include block;
    margin: rem(15px) auto;
  }

  // -- PHTOLIBRARY -- //

  &__photoLibrary {
    display: block;
  }

  &__photoList {
    width: 25%;
    height: 100vh;
    display: inline-block;

    &--cardOther {
      position: relative;
      display: block;
      text-align: center;
      width: 100%;
      span {
        display: none;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 40%;
      }
      i,
      h5,
      p {
        color: $fontwhite;
        font-size: rem(30px);
        margin: rem(10px) 0;
      }
      h5 {
        text-transform: uppercase;
        font-family: montserrat;
        font-size: rem(14px);
      }
      p {
        font-family: roboto;
        font-weight: 300;
        font-size: rem(15px);
      }
      div {
        width: 100%;
        display: block;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &--cardOther:hover {
      span {
        display: block;
      }
      div::before {
        content: " ";
        background: linear-gradient($bg-first, $bg-second);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.8;
      }
    }

    &--card {
      position: relative;
      display: block;
      text-align: center;
      width: 100%;
      span {
        display: none;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 40%;
      }
      i,
      h5,
      p {
        color: $fontwhite;
        font-size: rem(30px);
        margin: rem(10px) 0;
      }
      h5 {
        text-transform: uppercase;
        font-family: montserrat;
        font-size: rem(14px);
      }
      p {
        font-family: roboto;
        font-weight: 300;
        font-size: rem(15px);
      }
      div {
        width: 100%;
        display: block;
        height: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &--card:hover {
      span {
        display: block;
      }
      div::before {
        content: " ";
        background: linear-gradient($bg-first, $bg-second);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.8;
      }
    }
    @media (max-width: rem(1199px)) {
      width: 50%;
    }
    @media (max-width: rem(700px)) {
      width: 100%;
    }
  }

  //   FEEDBACK   //
  &__feedback {
    margin: rem(100px) 0;

    &--row {
      color: $bg-lgrey;
      margin: 0 rem(20px);
      vertical-align: middle;
    }

    p {
      @include par;
      margin-bottom: rem(30px);
      width: 100%;
    }
    h2 {
      font-size: rem(24px);
      font-family: kaushan script;
      display: inline-block;
      vertical-align: middle;
      margin-left: rem(10px);
    }
    &--block-other {
      @include block;
      display: inline-block;
      vertical-align: middle;
    }
    &--text {
      display: inline-block;
      text-align: left;
      width: 60%;
      vertical-align: middle;
    }
    img {
      display: inline-block;
      // width: rem(210px);
      width: 18%;
      height: rem(210px);
      margin: 0 rem(20px);
      vertical-align: middle;
    }
    @media (max-width: rem(780px)) {
      img {
        height: rem(150px);
        margin: 0 rem(10px);
      }
      h2 {
        font-size: rem(14px);
        margin-left: rem(5px);
      }
      p {
        font-size: rem(12px);
        width: 100%;
      }
      &--row {
        margin: 0 rem(5px);
      }
    }
    @media (max-width: rem(600px)) {
      img {
        height: rem(90px);
        margin: 0 rem(5px);
      }
    }
  }
}
