.works {
  font-size: 0;
  box-sizing: border-box;
  &__layout {
    @include layout;
  }
  &__header {
    @include pgheader;
  }
  &__block {
    @include block;
    margin: rem(15px) auto;
  }

  // -- PHTOLIBRARY -- //

  &__photoLibrary {
    display: block;
  }

  &__photoList {
    width: 25%;
    display: inline-block;
    #pL1 {
      background-image: url(/assets/img/pL1.png);
    }
    #pL2 {
      background-image: url(/assets/img/pL2.png);
    }
    #pL3 {
      background-image: url(/assets/img/pL3.png);
    }
    #pL4 {
      background-image: url(/assets/img/pL4.png);
    }
    #pL5 {
      background-image: url(/assets/img/pL5.png);
    }
    #pL6 {
      background-image: url(/assets/img/pL6.png);
    }
    #pL7 {
      background-image: url(/assets/img/pL7.png);
    }

    &--cardOther {
      position: relative;
      display: block;
      text-align: center;
      span {
        display: none;
        width: fit-content;
        position: absolute;
        z-index: 1;
        top: rem(390px);
        left: rem(160px);
      }
      i,
      h5,
      p {
        color: $fontwhite;
        font-size: rem(30px);
        margin: rem(10px) 0;
      }
      h5 {
        text-transform: uppercase;
        font-family: montserrat;
        font-size: rem(14px);
      }
      p {
        font-family: roboto;
        font-weight: 300;
        font-size: rem(15px);
      }
      div {
        display: block;
        height: rem(780px);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &--cardOther:hover {
      span {
        display: block;
      }
      div::before {
        content: " ";
        background: linear-gradient($bg-first, $bg-second);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.8;
      }
    }

    &--card {
      position: relative;
      display: block;
      text-align: center;
      span {
        display: none;
        width: fit-content;
        position: absolute;
        z-index: 1;
        top: rem(160px);
        left: rem(160px);
      }
      i,
      h5,
      p {
        color: $fontwhite;
        font-size: rem(30px);
        margin: rem(10px) 0;
      }
      h5 {
        text-transform: uppercase;
        font-family: montserrat;
        font-size: rem(14px);
      }
      p {
        font-family: roboto;
        font-weight: 300;
        font-size: rem(15px);
      }
      div {
        display: block;
        height: rem(390px);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &--card:hover {
      span {
        display: block;
      }
      div::before {
        content: " ";
        background: linear-gradient($bg-first, $bg-second);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.8;
      }
    }
    @media (max-width: rem(1199px)) {
      width: 50%;
    }
    @media (max-width: rem(700px)) {
      width: 100%;
    }
  }

  //   FEEDBACK   //
  &__feedback {
    margin: rem(100px) 0;

    &--row {
      color: $bg-lgrey;
      margin: 0 rem(20px);
      vertical-align: middle;
    }

    p {
      @include par;
      margin-bottom: rem(30px);
    }
    h2 {
      font-size: rem(24px);
      font-family: kaushan script;
      display: inline-block;
      vertical-align: middle;
      margin-left: rem(10px);
    }
    &--block-other {
      @include block;
      display: inline-block;
      vertical-align: middle;
    }
    &--text {
      display: inline-block;
      text-align: left;
      width: rem(780px);
      vertical-align: middle;
    }
    img {
      display: inline-block;
      width: rem(210px);
      height: rem(210px);
      margin: 0 rem(20px);
      vertical-align: middle;
    }
  }
}
